{% extends "layout.html" %}

{% block content %}
<h1>Edit your answer</h1>
<form>
    <p>
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="title" required minlength="5" value="{{ updated_question['title'] }}">
    </p>
    <p>
        <label for="message">Message:</label><br>
        <input type="text" id="message" required minlength="5" value="{{ updated_question['message'] }}">
    </p>
    <p>
        <label for="image">Image:</label><br>
        <input type="text" id="image" required minlength="5" value="{{ updated_question['image'] }}">
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>


</form>



{% endblock %}