{% extends "layout.html" %}

{% block content %}
    <div id="registration" , align="right">
        <a href="/registration">Register</a><br>
    </div>
    <div align="right">
        <form method="post" action="/login">
            <input type="text" name="username" min="3" placeholder="username" required><br>
            <input type="password" name="password" min="3" placeholder="password" required><br>
            <button type="submit">Login</button>
        </form>
    </div>
    <div>
        {% if verification == True %}
            <div>It's a match!
            </div>
        {% else %}
            <div>Doesn't Match :(</div>
        {% endif %}
    </div>

    <h1 align="center">Welcome in our first Q&A site</h1>
    <form method="get" action="/list" align="center">
        <button type="submit">All question</button>
    </form>

    <h3>Latest questions:</h3>
    {% for question in last_five_questions %}
        <p>{{ question.message }}</p>
    {% endfor %}

    <form method="get" action="/search" align="right">
        <label for id="search">
            <input type="text" name="search" id="search" min="3">
        </label>
        <button type="submit">Search</button>
    </form>

{% endblock %}

