{% extends "layout.html" %}

{% block content %}
    <div align="right">
        <form method="post" action="/login">
            <input type="text" name="username" min="3" placeholder="username" required><br>
            <input type="password" name="password" min="3" placeholder="password" required><br>
            <button type="submit">Login</button>
        </form>
    </div>

    <div id="registration" align="right">
        <a href="/registration">Register</a><br>
    </div>


    <h1 align="center">Welcome to our first Q&A site</h1>
    <form method="get" action="/list" align="center">
        <button type="submit">All questions</button>
    </form>

    <h3>Latest questions:</h3>
    {% for question in last_five_questions %}
        <p>{{ question.title }}</p>
    {% endfor %}

{% endblock %}

