{% extends "layout.html" %}

{% block content %}
    <form method="get" action="/search" align="right">
        <label for id="search">
            <input type="text" name="search" id="search" min="3">
        </label>
        <button type="submit">Search</button>
    </form>
    <h1>All Questions</h1>
    <p><a href="/add-question">Add New Question</a><br></p>
    <table>
        <tr>
            <th>Id</th>
            <th>Submission Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
        </tr>
        {% for question in questions %}
            <tr>
                <td><a href="{{ url_for('display_a_question', question_id=question.id) }}">{{ question.id }}</a></td>
                <td>{{ question.submission_time }}</td>
                <td>{{ question.view_number }}</td>
                <td>{{ question.vote_number }}</td>
                <td>{{ question.title }} </td>
                <td>{{ question.message }}</td>
                <td>{{ question.image }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}