<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Questions</title>
</head>
<body>
<h1>All Questions</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Submission Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
        </tr>
        {% for question in questions %}
            <tr>
                <td><a href="{{ url_for('get_question', question_id=question['id']) }}">{{ question['id'] }}</a></td>
                <td>{{ question['submission_time'] }}</td>
                <td>{{ question['view_number'] }}</td>
                <td>{{ question['vote_number'] }}</td>
                <td>{{ question['title'] }} </td>
                <td>{{ question['message'] }}</td>
                <td>{{ question['image'] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>