{% extends "layout.html" %}

{% block content %}

    {% for question in question_message %}
    <h2 align="center">{{ question.message }}</h2>
    {% endfor %}
    <div style="text-align: center;">
        <table>
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.message }}
                        <form method="get" action='/answer/{{ answer.id }}/delete'>
                            <p>
                                <button type="submit">Delete answer</button>
                            </p>
                        </form>
                    </td>
                </tr>

            {% endfor %}
            <form method="get" action="/question/{{ question_id }}/new-answer">
                <button type="submit">Write answer</button>

            </form>
            <form method="get" action="/question/{{ question_id }}/delete">
                <p>
                    <button type="submit">Delete</button>
                </p>
            </form>


        </table>
    </div>
{% endblock %}