{% extends "layout.html" %}

{% block content %}

    {% for question in question_message %}
        <h2 align="center">{{ question.message }}</h2>
    {% endfor %}
    <form align="center" method="get" action="/question/{{ question_id }}/delete">
        <p>
            <button type="submit">Delete</button>
        </p>
    </form>
    {% for comment in comments %}
        <p align="center">{{ comment.submission_time }} {{ comment.message }}</p>
    {% endfor %}
    <div style="text-align: center;">
        <table>
            {% for answer in answers %}
                <tr>
                <td>{{ answer['message'] }}
                    <form method="get" action='/answer/{{ answer['id'] }}/delete'>
                        <button type="submit">Delete answer</button>
                    </form>
                    <form method="get" action='/answer/{{ answer['id'] }}/edit'>
                        <button type="submit">Edit answer</button>
                    </form>
                    <form method="get" action="/answer/{{ answer['id'] }}/new-comment">
                        <button type="submit">Write answer comment</button>
                    </form>
                    <form method="post" action="/question/{{ answer['question_id'] }}">
                        <button type="submit">Accept this answer</button>
                    </form>

                </td>
                <td>
                    {% for answercomment in answercomments %}
                        {% for acomment in answercomment %}
                            {% if acomment['answer_id'] == answer['id'] %}
                                <p>{{ acomment['message'] }}</p>
                                <form method="get" action="/comment/{{ acomment['id'] }}/delete">
                                    <button type="submit">Delete answer comment</button>
                                </form>
                                <form method="get" action="/comment/{{ acomment['id'] }}/edit">
                                    <button type="submit">Edit answer comment</button>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>

            {% endfor %}



            <form method="get" action="/question/{{ question_id }}/new-comment">
                <button type="submit">Write comment</button>

            </form>
            <br/>

            <form method="get" action="/question/{{ question_id }}/new-answer">
                <button type="submit">Write answer</button>
            </form>
        </table>
    </div>


{% endblock %}