{% extends "layout.html" %}

{% block content %}


<h2 align="center">{{message}}</h2>
<center>
    <table>
        {% for answer in answers %}
        <tr>
            <td><strong>{{ answer.id}}</strong></td>
            <td>{{ answer.message}}</td>

        </tr>
        {% endfor %}
    <form method="get" action = "/question/{{ question_id }}/new-answer">
        <button type="submit">Write question</button>

    </form>
    <form method="get" action="/question/{{ question_id }}/delete">
        <p><button type="submit">Delete</button></p>
    </form>


    </table>
</center>
{% endblock %}